.message-text {
  overflow: hidden;
  resize: none;
}
.message-text::-webkit-scrollbar {
  width: 0.5em;
}
.message-text::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.message-text::-webkit-scrollbar-thumb {
  background-color: #888;
}

.form-button {
  text-transform: uppercase;
}

.role-switch,
.role-system,
.message-delete {
  user-select: none;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.role-switch,
.role-system {
  width: auto;
  min-width: 112px;
}

.role-switch {
  cursor: pointer;
  text-align: center;
}

.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: xx-large;
  font-weight: 500;
  color: #fd6c3f !important;
}

main {
  margin-top: 7rem;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

main {
  font-weight: 300;
}

a {
  text-decoration: none;
}
