# Cache files  
.eslintcache
.npm
*.tsbuildinfo
# Directories
node_modules/
# Env files      # A good safeguard against accidentally publishing
.env.
.env.test
# Logs
*.log
logs
npm-debug.log*
# Misc files
.DS_Store 
notes.md
dist